.bullet__container{
    display: flex;
    overflow: auto;
}

.bullet__item {
    
    min-width: 80px;
    margin: 0 auto;
}
.bullet__container::-webkit-scrollbar{
    height: 4px;
}

.bullet__container::-webkit-scrollbar-track{
    background-clip: padding-box;
    background-color: #5e5e5e;
    border-right: 16px solid transparent;

}

.bullet__container::-webkit-scrollbar-thumb{
    background-clip: padding-box;
    background-color:#843a8d; 
    border-right: 16px solid transparent;
    
}

.bullet__item--title {
    text-decoration: none;
}

bullet__item--image {
    width: 80px;
}

.bullet__item--link {
    text-decoration: none;
}

@media screen and (min-width:760px) {

    .bullet__item,
    .bullet__item-image {
        width: 100px;
        min-width: 100px;
    }
}
